.mainbox {
	border: 1px solid black;
	width: 400px;
	height: 150px;
}
.homeguest{
	border: 1px solid red;
	width: 98px;
	height: 128px;
	position:absolute;
	margin-left: 0px;
	margin-top: 0px;
}
.point{
	border: 1px solid blue;
	width: 98px;
	height: 128px;
    position:absolute;
    margin-left: 100px;
    margin-top: 0px;
}

.periode{
	border: 1px solid purple;
	width: 98px;
	height: 128px;
	position:absolute;
	margin-left:200px;
	margin-top:0px; 
}
.penalty{
	border: 1px solid black;
	width:298px;
	height:18px;
	position:absolute;
	margin-left:0px;
	margin-top: 130px;
}
.timepenalty{
	border:1px solid green;
	width:98px;
	height:18px;
	position:absolute;
	margin-left:300px;
	margin-top: 130px;
}

.maintime{
	border:1px solid yellow;
	width:98px;
	height:128px;
	position:absolute;
	margin-left: 300px;
	margin-top:0px;
}

#home {
	border:1px solid red;
	width: 98px;
	height:63px;
}

#guest {
	border:1px solid red;
	width: 98px;
	height:63px;
}

#pointhome{
    border:1px solid blue;
    width:98px;
    height:63px; 
}

#pointguest{
	border:1px solid blue;
    width:98px;
    height:63px;
}
