@font-face{
    font-family: "numberfont";
    src: url("fonts/open-24-display.ttf") format("truetype");
}

@font-face{
    font-family: "namefont";
    src: url("fonts/graduate-regular.ttf") format("truetype");
}

.mainbox{
	background-image:url(score-board-02.png);
	background-repeat: no-repeat;
	border: 0px solid black;
	width: 677px;
	height: 100px;
}
.homeguest{
	border: 0px solid red;
	width: 318px;
	height: 98px;
	position:absolute;
	margin-left: 18px;
	margin-top: 0px;
}
.point{
	border: 0px solid blue;
	width: 40px;
	height: 98px;
    position:absolute;
    margin-left: 349px;
    margin-top: 0px;
}

.periode{
	border: 0px solid purple;
	width: 88px;
	height: 98px;
	position:absolute;
	margin-left:398px;
	margin-top:0px; 
}

.maintime{
	border:0px solid yellow;
	width:185px;
	height:98px;
	position:absolute;
	margin-left: 486px;
	margin-top:0px;
}

.penalties {
	position: relative;
	top: 100px;
}

.penalty{
	border: 1px solid black;
	width: 620px;
	height:30px;
	margin-left:18px;
	
	background-color: red;
	overflow: hidden;
}

.timepenalty{
	border-left: 1px solid black;
	width:170px;
	height:32px;
	position:absolute;
	background-color: red;
	color:white;
	font-family: "numberfont";
	letter-spacing:3px;
	font-size:15px;
	right: 0;

}

#home{
	border:0px solid red;
	width: 318px;
	height:48px;
	}

#guest{
	border:0px solid red;
	width: 318px;
	height:48px;
}

#pointhome{
    border:0px solid blue;
    width:40px;
    height:48px; 
}

#pointguest{
	border:0px solid blue;
    width:40px;
    height:48px;
}

.teamText{
	color: white;
	font-family: "namefont";
	letter-spacing:1px;
	font-size: 17px;
}

.blackText{
	color:black;
	font-family: "numberfont";
	letter-spacing: 3px;
	font-size: 50px;
}

.pointText{
	color: white;
	font-family: "numberfont";
	letter-spacing: 3px;
	font-size: 17px;
}

.penaltyText {
	color:white;
	font-family: "namefont";
	letter-spacing:3px;
	font-size:15px;
	padding-left: 20px;
}

.timepenalty h2 {
	margin: 0;
	text-align: center;
	line-height: 28px;
}

.flex {
	display:flex;
	justify-content:center;
	align-items:center;
}

.flex.left {
	justify-content:flex-start;
}

.initial-position {
	position: relative;
	height: 0px;
	z-index: -1;
	transition: all 0.5s;
}

.final-position {
	height: 32px;
	margin-top: 100px;
}

.dashboard-column {
	width: 50%;
	vertical-align: top;
}